*{
    list-style-type: none;
}

ul{
    padding: 0;
}

section{
    margin-bottom: 30px;
}

section:nth-of-type(odd){
    background-color: #1abc9c;
    color: white;
}

.my_object{
    height: 200px;
    background-color: #ba4b63;
}

footer{
    background-color: #3a546d;
    color: white;
}

.my_copyright{
    background-color: #2c3e50;
}